:root {
  --white: #fff;
  --gray: #aaa;
  --blackText: #333;
  --dark: #212529;
  --black: #000;
  --defaultColor: #26a69a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.box {
  position: relative;
}

/*Banner Section*/

section.banner {
  position: relative;
  min-height: 400px;
  background-image: url('../assets/bg.jpg');
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}
section.banner .container {
  position: relative;
  z-index: 2;
}
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
div.call-banner h2 {
  color: var(--defaultColor);
  font-size: 3rem;
}
div.call-banner p {
  margin: 1.5rem 0;
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 300;
}
div.call-banner button {
  color: var(--white);
  background: var(--defaultColor);
  transition: 0.5s;
}
div.call-banner button:hover {
  border-radius: 0;
  background: #1d9186;
}

/*Register Section*/

section.register {
  background: var(--defaultColor);
  padding: 1.2rem 0;
}
section.register h2 {
  color: var(--white);
}
section.register input[type='text'].form-control {
  width: 50%;
  height: 2.5rem;
  border: 0, 0625rem solid #ccc;
  display: inline-block;
  border-radius: 0;
  outline: none;
}
section.register input[type='submit'] {
  height: 2.5rem;
  width: 4rem;
  border-radius: 0 10px 10px 0;
  border: transparent;
  background-color: #f8f9fa;
  transition: 0.5s;
}
section.register input[type='submit']:hover {
  background-color: #f9fafb;
}

/*Testimony Section*/

section.testimony {
  padding: 2rem 0;
  margin: 1rem 0 0 0;
}
section.testimony h2 {
  color: var(--blackText);
}
section.testimony blockquote {
  color: var(--gray);
  font-size: 0.9rem;
  border-left: var(--gray) solid 0.3rem;
  padding: 0 0 0 1rem;
}

/*Differentials Section*/

section.differentials {
  padding: 2rem 0;
  background: rgba(225, 225, 225);
}
section.differentials h2 {
  color: var(--blackText);
}
section.differentials .differentials-container {
  margin-top: 1.9rem;
}
section.differentials .differentials-container h2 {
  font-size: 1.5rem;
}
section.differentials .differentials-container h3 {
  color: var(--defaultColor);
}

/*Team Section*/

section.team h2 {
  margin: 0;
  text-align: center;
  padding: 0.625rem 2%;
  background-color: var(--defaultColor);
  color: var(--white);
}
section.team .team-container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
section.team .team-single {
  margin-bottom: 0.975rem;
  width: 100%;
  padding: 1.25rem 0.625rem;
  border: 0.0625rem solid #ccc;
  -webkit-box-shadow: 8px 7px 5px -3px rgba(20, 20, 20, 0.6);
}
section.team .team-single .user-picture {
  width: 100%;
  padding-top: 100%;
  background: #ccc;
  border-radius: 50%;
  transform: translate(20%, 0%);
}

/*Contact us Section*/

section.contact-us {
  background-color: var(--dark);
  color: var(--white);
  padding: 1.875rem 0;
}
section.contact-us textarea {
  height: 120px;
}

/*Footer*/
footer {
  background-color: var(--dark);
  color: var(--white);
  padding-bottom: 0.625rem;
}

@media screen and (max-width: 1024px) {
  section.team .team-single .user-picture {
    width: 40%;
    padding-top: 40%;
    transform: translate(75%, 0%);
  }
}
@media screen and (max-width: 500px) {
  section.register input[type='text'].form-control {
    width: 80%;
  }
  section.register input[type='submit'] {
    height: 2.5rem;
    width: 50%;
    margin-top: 0.625rem;
    border-radius: 10px;
    border: transparent;
    background-color: #f8f9fa;
    transition: 0.5s;
  }
}
